@use "config" as conf;

header{
    padding: 1rem 0 1rem 0;
    background-color: black;
}


nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4em 0 1em;
    
    .logo{
        width: calc(6em + 3vw);
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    
        .texto{
            font-family: conf.fontfamily(ruda);
            font-size: conf.$Snormal;
            color: conf.$primary-color;
            background: transparent;
            width: calc(7em + 7vw);
            border: 0;
            border-bottom: 1px white solid;
            &:focus{
                outline: 0;
            }
        }
    }
}

